* {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  font-weight: bold;
}

.BD {
  font-size: 70px;
}

.background{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}
.NY {
  font-size: 23px;
  font-weight: bold;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
